@import url(fields/index.css);

form {
    margin-top: 2.5rem;
}

fieldset {
    border: none;
    margin-bottom: 3rem;
}

legend {
    display: flex;
    gap: .75rem;
    align-items: center;
    margin-bottom: 1.5rem;
    font: var(--header-sm);
    color: var(--text-heading);

    & img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.grid-info, .grid-personalization {
    display: grid;
    gap: 1rem;
}

.grid-info {
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
}

.grid-personalization {
    grid-template-columns: auto 1fr;
}

.btn {
    display: flex;
    gap: .75rem;
    align-items: center;
    padding: .875rem 1.25rem;
    border-radius: .5rem;
    border: none;
    background: var(--brand-dark);
    font: var(--body-md);
    color: var(--text-heading);
    margin-left: auto;

    & img {
        width: 1.25rem;
        height: 1.25rem;
    }

    &:hover {
        cursor: pointer;
        background: var(--brand-mid);
    }
}