@import url(fields/index.css);

form {
    margin-top: 2.5rem;
}

fieldset {
    border: none;
}

fieldset+fieldset {
    margin-bottom: 3rem;
}

legend {
    display: flex;
    gap: .75rem;
    align-items: center;
    margin-bottom: 1.5rem;

    font: var(--header-sm);
    color: var(--text-heading);

    & img {
        height: 1.5rem;
    }
}

.grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}