*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --feedback-danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text: 400 1rem var(--font-family-open);
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --font-family-open: "Open Sans", sans-serif;
    --font-family-baloo: "Baloo 2", sans-serif;
    --header-md: 700 1.75rem var(--font-family-baloo);
    --header-sm: 700 1.125rem var(--font-family-baloo);
    --body-md: 600 1rem var(--font-family-open);
    --body-sm: 600 .875rem var(--font-family-open);
    --body-xs: 600 .75rem var(--font-family-open);
}

body {
    overflow: hidden;
    background-color: var(--shape-background);
    font: var(--text);
    color: var(--text-body);
}

h1 {
    font: var(--header-md);
}

h2 {
    font: var(--body-md);
}

h1,
h2 {
    color: var(--text-heading);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}