#app {
    display: grid;
    grid-template-columns: 33.5% 66.5%;
    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    background-color: var(--shape-body);
    padding: 5rem 8.125rem;
    margin: 1rem 1rem 1rem .5rem;
    border-radius: .75rem;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

aside {
    margin: 1rem .5rem 1rem 1rem;
}

.aside-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;

    & header {
        position: absolute;

        & #logo {
            height: 20%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../assets/Background.svg);
        background-size: cover;
        background-position: center;
        border-radius: .75rem;
    }
}